* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    margin: 0px;
}
.navBar{
    display: flex;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #222;
}
.navLeft{
    flex: 1;
}
.navCenter{
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
    flex: 2;
}
.navRight{
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
    flex: 1;
    padding-right: 1%;
}
.navMenu{
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
}
.navMenu:hover{
    border-bottom: 2px solid #f44;
    padding: 14px 20px;
}