*{
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration-line: none;
    color: black;
    font-size: 13.5px;
}
body{
    height: 100%;
    width: 100%;
}
.header{
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    overflow: hidden;
    border-bottom: 2px solid;
    padding: 10px;
}
.lefthead{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}
.centerhead{
    display: -webkit-flex; /* Safari */
    display: flex;
    overflow: hidden;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 2;
    padding: 10px;
}
.logohead{
    padding-right: 8px;
}
.textheadgroup{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 6;
}
.blankhead{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}
.rightcohead{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}
.youtubelogo{
    padding-right: 6px;
}
.facebooklogo{
    padding-left: 6px;
}
.righthead{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}
.headfont{
    padding: 10px;
}